openai
langchain
unstructured
pandas
chromadb
tiktoken
python-dotenv
pytube
pydub
#pip install -U openai-whisper
streamlit
webvtt-py
matplotlib
scipy
jupyter
ipykernel
bertopic
yt-dlp
ane_transformers
openai-whisper
coremltools